.u-section-1 .u-sheet-1 {
  min-height: 646px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1320px;
  margin: 36px -11px 48px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 562px;
}

.u-section-1 .u-container-layout-1 {
  padding: 19px 30px;
}

.u-section-1 .u-text-1 {
  margin: 81px 0 0;
}

.u-section-1 .u-group-1 {
  min-height: 375px;
  height: auto;
  width: 393px;
  margin: -2px auto 0 11px;
}

.u-section-1 .u-container-layout-2 {
  padding: 24px 30px;
}

.u-section-1 .u-image-1 {
  width: 179px;
  height: 179px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 21px 60px 0 85px;
}

.u-section-1 .u-shape-1 {
  width: 308px;
  height: 257px;
  margin: -181px 0 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 526px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-form-1 {
  margin-bottom: 0;
  margin-top: 0;
  background-image: none;
}

@media (max-width: 1399px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 1140px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 454px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 374px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 39px;
  }

  .u-section-1 .u-group-1 {
    width: 300px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 14px;
    margin-left: 39px;
  }

  .u-section-1 .u-shape-1 {
    width: 240px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-group-1 {
    width: 449px;
    margin-top: 40px;
    margin-right: 71px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 320px;
    margin-right: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}